# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = dmozbook.settings

[deploy]
#url = http://localhost:6800/
project = dmozbook


#project link
#https://dmoz-odp.org/Computers/Programming/Languages/Python/Books/
